# SPDX-FileCopyrightText: 2024 Frans van Dorsselaer
#
# SPDX-License-Identifier: MIT

---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: |
            global.json
            '**/Directory.Packages.props'
            .config/dotnet-tools.json

      - name: Install dependencies
        run: |
          dotnet tool restore
          dotnet restore

      - name: Build
        run: |
          dotnet build --configuration Release --no-restore

      - name: Test
        run: |
          dotnet test --configuration Release --no-build \
            --report-trx --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml

      - name: Package
        run: |
          dotnet pack --configuration Release --no-build

      - name: Upload Package Artifact
        uses: actions/upload-artifact@v5
        with:
          name: nuget-package
          path: |
            **/*.nupkg
            **/*.snupkg
            retention-days: 14

      - name: Convert test results
        if: ${{ !cancelled() }}
        run: |
          find . -name "*.trx" -exec dotnet tool run trx2junit --output TestResults/JUnit {} +

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          report_type: test_results
          files: TestResults/JUnit/*.xml
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: '**/TestResults/coverage.cobertura.xml'
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
